

 .internship{

    
    
    width: 150vh;
    float: right;
    margin-right: -10rem;
    padding: 1rem;
  
    

 }

 .internship h1{

   
   
   font-size: 150%;

 }

 #button{
    
   
    font-size: small;
    float: right;
    

    

    
   
    
 }

 #data{

   font-size: 15px;

 }

 .internship p{

  font-size: small;
  font-weight: lighter;


 }

 #insights{
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  height: 26vh;
  width: 69vw;
  
 }

#b2{

  font-size: 50%;
  margin: 0.1rem;
  margin-left: 3rem;
  border-radius: 0.3rem;
  background-color: blue;
  color: white;
  padding: 0.4rem;
  width: 5vw;
  font-weight: bold;


}
#b3{

  font-size: 50%;
  border-radius: 0.4rem;
  padding: 0.2rem;
  width: 5vw;
  height: 4.5vh;
  background-color: white;
  font-weight: bold;
}

#b4{

  font-size: 50%;
  float: right;
  border-radius: 0.3rem;
  background-color: white;
  padding: 0.2rem;
  font-weight: bold;
  


}

#graph{

  float: right;

  
  

}

.table
{
  background-color: whitesmoke;
  
  
  
  text-align: left;
  
  
}

@media  screen and (max-width:375px){

  .internship{
    background-color: red;
    width: 1rem;
    height: 1rem;
    padding: auto;
    float: auto;
  
  }
  .internship p{
    font-size: auto;

  }
  
}