
*{
  margin: 0px;
}


body{

  background-color: lightgrey;
  

}
.container{
  
  margin-left: 0px;
}


.navbar{

  
  width: 200px;
  padding: 5px;
  height: 600px;
  display: flex;
  
  margin: 5px;
  background-color: white;
  border-radius: 20px;

 


}

.links{

  
  margin-bottom: 150px;
  margin-left: 20px;
  
  
  
}

.links a {

  padding: 10px;
  display: flex;
  text-decoration: none;
  font-size: 12px;
  font-weight: 20px;
  
  margin-bottom: 10px;
  line-height: 10px;
  color: black;
  height: 30px;
  
  margin: 10px;
  
  
  
  
  
  

  

}

.links h1{

  
  padding: 17px;
  color: black;
  font-size: 21px;
  margin: 5px;
  font-weight: lighter;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
  
  
  

}

 
#dash{

    font-size: 17px;
    

}


#medal{

  font-size: 17px;
}

#book{

  font-size: 17px;
}

#set{

  font-size: 17px;
}

#jb{
  font-size: 17px;
}


  a:hover{

  color: blue;
  background-color: lightblue;
  border-radius: 20px;
  padding: 5px;
  height: 30px;
  
  

  

}

#x{

      color: lightgreen;

}
.roll{
  border-radius: 1px;
  background-color: lightblue;
  width: 50px;
  height: 20px;
  text-align: center;
  padding: 1px;
  color: blue;
}

#wit{
  font-size: 15px;
}

.vsg{
  font-size: 20px;
  color: blueviolet;
}

#adam{

  margin: auto;
  margin-top: -40px;
  font-size: 12px;


}
#adam .form-check-input{

  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-top: -5px;
  
}