
*{
  margin: 0px;
}


body{

  background-color: lightgrey;
  

}
.container{
  
  margin-left: 0px;
}


.navbar{

  
  width: 200px;
  padding: 5px;
  height: 600px;
  display: flex;
  
  margin: 5px;
  background-color: white;
  border-radius: 20px;

 


}

.links{

  
  margin-bottom: 150px;
  margin-left: 20px;
}

.links a{

  padding: 5px;
  display: flex;
  text-decoration: none;
  margin-left: 10px;
  font-size: small;
  line-height: 8px;
  margin-bottom: 40px;
  
  

  

}

.links h1{

  
  padding: 17px;
  color: black;
  font-size: 20px;
  margin: 5px;
  font-weight: lighter;
  font-family:Georgia, 'Times New Roman', Times, serif
  
  
  
  

}

 
#dash{

    font-size: 20px;
    

}


#medal{

  font-size: 20px;
}

#book{

  font-size: 20px;
}

#set{

  font-size: 20px;
}

#jb{
  font-size: 20px;
}


.links a:hover{

  color: black;
  background-color: lightblue;
  border-radius: 30px;
  
  
  

}

#x{

      color: lightgreen;

}