
*{
  margin: 0rem;
}


body{

  background-color: lightgrey;
  

}
.container{
  
  margin-left: 0rem;
}


.navbar{

  
  width: 15vw;
  
  height: 95vh;
  display: flex;
  
  margin: 0.5rem;
  background-color: white;
  border-radius: 2rem;

 


}

.links{

  
  margin-bottom: 10rem;
  margin-left: 1.5rem;
  
  
  
}

.links a {

  padding: 0.2rem;
  display: flex;
  text-decoration: none;
  font-size: 70%;
  font-weight: 20%;
  margin-bottom: 10rem;
  line-height: 1vh;
  color: black;
  height: 5vh;
  margin: 1rem;
  
  
  
  
  
  

  

}

.links h1{

  
  padding: 1rem;
  color: black;
  font-size: 150%;
  margin: 0.1rem;
  font-weight: lighter;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
  
  
  

}

 
#dash{

    font-size: 150%;
    

}


#medal{

  font-size: 150%;
}

#book{

  font-size: 150%;
}

#set{

  font-size: 150%;
}

#jb{
  font-size: 150%;
}


  a:hover{

  color: blue;
  background-color: lightblue;
  border-radius: 20px;
  padding: 0.2rem;
  height: 5vh;
  
  

  

}

#x{

      color: lightgreen;

}
.roll{
  border-radius: 0.2rem;
  background-color: lightblue;
  width: 4rem;
  height: 1.4rem;
  text-align: center;
  padding: 0.1rem;
  color: blue;
}

#wit{
  font-size: 150%;
}

.vsg{
  font-size: 150%;
  color: blueviolet;
}

#adam{

  margin: auto;
  
  font-size: 70%;


}
#adam .form-check-input{

  width: 2.3vw;
  height: 5vh;
  border-radius: 0.4rem;
  margin-top: -0.5rem;
  
}

  
  .links{
  
    
    margin-bottom: 10rem;
    margin-left: 1.5rem;
    
    
    
  }
  
  .links a {
  
    padding: 0.2rem;
    display: flex;
    text-decoration: none;
    font-size: 70%;
    font-weight: 20%;
    margin-bottom: 10rem;
    line-height: 1vh;
    color: black;
    height: 5vh;
    margin: 1rem;
    
    
    
    
    
    
  
    
  
  }
  
  .links h1{
  
    
    padding: 1rem;
    color: black;
    font-size: 150%;
    margin: 0.1rem;
    font-weight: lighter;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
    
    
  
  }

